<% bookings.each do |booking| %>
  <div class="message-preview" >
    <div class="message-image">
      <%= image_tag booking.market.image %>
    </div>
    <div>
      <div class="user-info">
        <% if current_user == booking.user  %>
        <div class="user"><%= link_to booking.market.user.first_name, booking_messages_path(booking.id) %></div>
        <% elsif current_user == booking.market.user %>
        <div class="user"><%= link_to booking.user.first_name, booking_messages_path(booking.id) %></div>
        <% end %>
        <div class="date"><%= booking.updated_at.strftime("%a %b %e at %l:%M%p") %></div>
      </div>
      <div class="message-title"> <%= booking.market.title %> </div>
    </div>
  </div>
<% end %>
