<% if message.user == current_user %>
          <div id="chat-right">
            <div class="message-content"><%= message.content %></div>
            <br>
            <div class="user-info">
              <div class="user-name"><%= message.user.first_name %></div>
              <div class="message-time"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></div>
            </div>
          </div>
        <% else %>

          <div id="chat-left">
            <div class="message-content"><%= message.content %></div>
            <br>
            <div class="user-info">
              <div class="message-time"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></div>
              <div class="user-name"><%= message.user.first_name %></div>
            </div>
          </div>


        <% end %>
