<%= render 'shared/header' %>
<div class= "container">
  <div class="messages-container">
    <div class="message-overview" id= "bookings-overview">
      <%= render 'bookings', bookings: @bookings %>
    </div>
    <div class="chat" >
      <div class="chat-title"><%= @booking.market.title %></div>
      <div class="messages"  id='messages'  data-booking-id="<%= @booking.id %>" >
        <% @messages.each do |message| %>
        <%= render 'message', message: message %>
        <br>
        <% end %>
      </div>

      <%= simple_form_for [ @booking, @message ], remote: true do |f| %>

        <%#= f.input :content, label: false, placeholder: "Start to chat!" %>
        <%#div class="handshake">
          <%= link_to booking_path(@booking), method: :patch do %>
            <%#i class="fas fa-hands-helping btn-solid-red"> Handshake</i>
          <% end %>
          <%#%= f.button :submit, class: 'btn-line-red'  %>
        <%#/div> %>

        <div>

        <div class="messages">
          <%= f.input :content, label: false, class:"message-input", placeholder: "Write your message here!" %>
        </div>
        <div class="handshake">
          <% if current_user == @booking.market.user && @booking.status == "pending" %>
           <%= link_to "Send Handshake", booking_path(@booking), class: "btn-solid-red-handshake", method: :patch %>
          <% elsif current_user == @booking.user && @booking.status == "pending" %>
            <p class="canceled"><strong>Awaiting Handshake </strong></p>
          <% elsif current_user == @booking.user && @booking.status == "requested"  %>
            <%= link_to "Accept Handshake", booking_path(@booking), class: "btn-solid-red-handshake", method: :patch %>
          <% elsif @booking.status == "confirmed" %>
            <%= link_to "Cancel Handshake", booking_path(@booking), class: "btn-solid-red-handshake", method: :patch %>
            <%= link_to "Go to video chat", "/rooms/4", class: "btn-solid-red-handshake"%>
          <% elsif @booking.status == "rejected"  %>
            <p class="canceled"><strong>Handshake canceled</strong></p>
            <%= link_to "Handshake", booking_path(@booking), class: "btn-solid-red-handshake", method: :patch %>
            <%= link_to "Delete Chat", booking_path(@booking), class: "btn-solid-red-handshake", method: :delete %>
          <% end %>


          <%= f.button :submit, "Send Message", class: 'btn-line-red'  %>
        </div>
        <div class="handshake-explenation">
           <p><strong>How the handshake works: </strong>If you both agree on the conditions the offer creator can handshake on the deal to mark it as set.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="bottom"></div>
