
<div class="container">
  <h1 id='profile_header'>Profile</h1>
  <div id='profile_menu'>
    <%= link_to "Dashboard", "/dashboard", class: "nav-link hover" %>
    <%= link_to "Messages(#{current_user.unread_messages.count})", "/bookings", class: "nav-link hover" %>
    <%= link_to "Saved", "#", class: "nav-link hover" %>
    <%= link_to "Your Offers/Requests", "#", class: "nav-link hover" %>
    <%= link_to "Profile Settings", "#", class: "nav-link hover" %>
  </div>
</div>
