<div class="container">
  <div class="headline">
    <h2>How it works</h2>
  </div>
  <div class="description">
    <div class="details text-left">
      <h2>Take a look at our offers</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p><br>
      <div id="landing-button"> <%= link_to "Explore", "#", class: "btn-line-red" %></div>
    </div>
    <div class="">
      <%= image_tag "master-of-time.png" %>
    </div>
  </div>
</div>


<div class="img-left">
  <div class="container">
    <div class="description">
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
      <div class="details text-right">
        <h2>Offer your time and skills to others</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <div class="center-btn"><%= link_to "Create offer", "#", class: "btn-line-red" %></div>
      </div>
    </div>
  </div>
</div>



<div class="img-right">
  <div class="container">
    <div class="description">
      <div class="details text-left">
        <h2>Handshake</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
      </div>
      <div class="">
        <%= image_tag "master-of-time.png" %>
      </div>
    </div>
  </div>
</div>
