<div class="container">
  <div class="show-card">

    <div class="card-images">
      <div class="large-image">
      <% if @market.photo.attached? %>
        <%= cl_image_tag "#{@market.photo.key}" %>
      <% else %>
        <%= image_tag "#{@market.image}" %>
      <% end %>
      </div>
    </div>

    <div class="all-infos">
      <div id="like">
        <h2><%= @market.title %></h2>
        <div class="save-icon"><%= link_to "#" do %>
          <i class="fas fa-heart"></i>
        <% end %></div>
        <br>
      </div>
      <i class="fas fa-map-marker-alt short-info short-info-top"></i>  Friedrichstr. 31, 10732 Berlin <br>
      <i class="fas fa-clock short-info"></i>  60 Minutes<br>
      <i class="fas fa-user short-info"> </i>  <%= @market.user.first_name %> <%= @market.user.last_name %><br><br>

      <p><%= @market.description %></p>
      <div class="market-buttons">
        <!-- Button trigger modal -->
        <% if @booking.present? %>
          <div>
            <p id="message_info">You have already send a message.</p>
            <p><%= link_to "View your messages", booking_messages_path(@booking), class:"btn-line-red" %></p>
          </div>
        <% else %>
          <button type="button" class="btn-solid-red-message" data-toggle="modal" data-target="#exampleModal">
            Write a message
          </button>


        <%= render "markets/modal", market: @market, booking: @booking %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="headline">
    <h2 class= "">Other offers you might like</h2>
  </div>
    <div class="four-cards">
      <% markets = Market.limit(4).order("RANDOM()") %>
      <% markets.each do |market| %>
        <div class="card-trip">
          <%= image_tag "#{market.image}" %>
          <div class="card-trip-infos">
            <div class= "card-title">
              <div class="title-link"><%= link_to market.title, market_path(market) %></div>
            </div>
            <div>
              <i class="fas fa-heart card-trip-user"></i>
              <%# <p><%= market.description %></p>
            </div>
            <%= button_to "See Details", market_path(market), :class => "btn-line-red card-btn", :method => :get %>
            <br>
          </div>
        </div>
      <% end  %>
    </div>
</div>
